APP_NAME=ecg-afib-backend
AWS_REGION=ap-southeast-1

DYNAMODB_TABLE=ecg_predictions
DYNAMODB_CREATED_AT_INDEX=prediction_created_at_index
DYNAMODB_LATEST_SCAN_LIMIT=100

MODEL_S3_BUCKET=your-model-bucket
MODEL_S3_KEY=models/afib_cnn_1d_best.h5
MODEL_ALLOW_DUMMY=false

PREDICTION_S3_BUCKET=your-prediction-bucket
PREDICTION_S3_PREFIX=ecg-predictions

SNS_TOPIC_ARN=arn:aws:sns:ap-southeast-1:123456789012:ecg-afib-alerts
SNS_ALERT_ON_LABEL=AFIB

DEFAULT_SAMPLE_RATE=250
DEFAULT_SIGNAL_DURATION_SEC=5
