APP_NAME=ecg-afib-backend
AWS_REGION=us-east-1

DYNAMODB_TABLE=ecg_predictions
DYNAMODB_CREATED_AT_INDEX=prediction_created_at_index
DYNAMODB_LATEST_SCAN_LIMIT=100

MODEL_S3_BUCKET=smart-health-monitoring-hazim-235150307111030
MODEL_S3_KEY=Models/afib_cnn_1d_best.h5
MODEL_ALLOW_DUMMY=false

PREDICTION_S3_BUCKET=smart-health-monitoring-hazim-235150307111030
PREDICTION_S3_PREFIX=ecg-predictions

SNS_TOPIC_ARN=arn:aws:sns:us-east-1:426232781963:SmartHealthAFibAlert
SNS_ALERT_ON_LABEL=AFIB

DEFAULT_SAMPLE_RATE=250
DEFAULT_SIGNAL_DURATION_SEC=5

